.page.theme_dark {
  --primary-color: var(--primary-color-dark-theme);
  --primary-color-shadow: var(--primary-color-shadow-dark-theme);
  --secondary-color: var(--secondary-color-dark-theme);
  --accent-color: var(--accent-color-dark-theme);
  --description-color: var(--description-color-dark-theme);
  --background-image: url(../images/cover-image-dark.png);
  --background-color: var(--background-color-dark-theme);
  --main-section-title-color: var(--main-section-title-color-dark-theme);
  --nav-color: var(--nav-color-dark-theme);
  --nav-colorfaded: var(--nav-colorfaded-dark-theme);
}

@media (prefers-color-scheme: dark) {
  :root {
      --primary-color: var(--primary-color-dark-theme);
      --primary-color-shadow: var(--primary-color-shadow-dark-theme);
      --secondary-color: var(--secondary-color-dark-theme);
      --accent-color: var(--accent-color-dark-theme);
      --description-color: var(--description-color-dark-theme);
      --background-image: url(../images/cover-image-dark.png);
      --background-color: var(--background-color-dark-theme);
      --main-section-title-color: var(--main-section-title-color-dark-theme);
      --nav-color: var(--nav-color-dark-theme);
      --nav-colorfaded: var(--nav-colorfaded-dark-theme);
    }
  }
