.page.theme_light {
  --primary-color: var(--primary-color-light-theme);
  --primary-color-shadow: var(--primary-color-shadow-light-theme);
  --secondary-color: var(--secondary-color-light-theme);
  --accent-color: var(--accent-color-light-theme);
  --description-color: var(--description-color-light-theme);
  --background-image: url(../images/cover-image-light.png);
  --background-color: var(--background-color-light-theme);
  --main-section-title-color: var(--main-section-title-color-light-theme);
  --nav-color: var(--nav-color-light-theme);
  --rec-dec-visibilities: hidden;
  --nav-colorfaded:var(--nav-colorfaded-light-theme);
}

@media (prefers-color-scheme: light) {
  :root {
      --primary-color: var(--primary-color-light-theme);
      --primary-color-shadow: var(--primary-color-shadow-light-theme);
      --secondary-color: var(--secondary-color-light-theme);
      --accent-color: var(--accent-color-light-theme);
      --description-color: var(--description-color-light-theme);
      --background-image: url(../images/cover-image-light.png);
      --background-color: var(--background-color-light-theme);
      --main-section-title-color: var(--main-section-title-color-light-theme);
      --nav-color: var(--nav-color-light-theme);
      --rec-dec-visibilities: hidden;
      --nav-colorfaded:var(--nav-colorfaded-light-theme);
  }
}